<table>
  <tbody>
    <tr>
      <td><h2>Hello!</h2></td>
    </tr>
    <tr>
      <td><p>We have a new post, Visit us! at https://blogcitlas.herokuapp.com/</p></td>
    </tr>
    <tr>
      <td><p><strong>Your Citlas blog Team!</strong></p></td>
    </tr>
  </tbody>
</table>